<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    </head>s
    <body>
        <nav>
            <div class="logo"><img class="logo-image" src="/assets/logo2.png"
                alt=""></div>
            <div class="openMenu"><i class="fa fa-bars"></i></div>
            <ul class="mainMenu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>  
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#" class="button-vol1"><span>Sign in</span></a></li>
                <div class="closeMenu"><i class="fa fa-times"></i></div>
            </ul>
        </nav>
        <div class="wrapper-content-vol2">
            <div class="image" id="home">
                <img src="/assets/pict1.png">
            </div>
            <div class="container-content">
                <h2 class="header-text">
                    Welcome
                </h2>
                <p class="text-content">
                    We will tech you  from  zero to hero,<br>
                    you can learn with us everyday
                </p>
                <p class="p"><a href="" class="button-vol2">More Info</a></p>
            </div>
        </div>
        <script src="home.js"></script>
    </body>
</html>